/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

#define JIME	LA(GRAVE)
#define DSKR	LC(LG(RIGHT))
#define DSKL	LC(LG(LEFT))
#define MCPY	LC(C)
#define MPST	LC(V)
#define RERE	LC(R)

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T        &kp Y     &kp U     &kp I     &kp O     &kp P     &kp ESC
   &kp LSHFT &kp A     &kp S     &kp D     &kp F     &kp G        &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
   &kp LCTL  &kp Z     &kp X     &kp C     &kp V     &kp B        &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RET
   &mo LOWER &kp BSPC  &kp LWIN                                   &kp LALT  &kp SPACE &mo RAISE
                        >;
                };

                lower_layer {
                        label = "LOWER";
                        bindings = <
   &kp JIME  &kp N1    &kp N2    &kp N3    &kp N4     &kp N5      &kp N6    &kp N7    &kp N8    &kp N9    &kp N0   &kp DEL
   &none     &none     &kp LEFT  &kp UP    &kp RIGHT  &kp DSKL    &none     &none     &none     &none     &none    &none  
   &none     &kp RERE  &kp MCPY  &kp DOWN  &kp MPST   &kp DSKR    &none     &none     &none     &none     &none    &none  
   &mo LOWER &kp BSPC  &kp LWIN                                   &kp LALT  &kp SPACE &tog ADJUST
                        >;
                };

                raise_layer {
                        label = "RAISE";
                        bindings = <
   &kp JIME  &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR  &kp DEL  
   &none     &none     &none     &none     &none     &kp K_APP    &kp MINUS &kp EQUAL &kp LBRC  &kp RBRC  &kp PIPE  &kp GRAVE  
   &none     &none     &none     &none     &none     &none        &kp UNDER &kp PLUS  &kp LBKT  &kp RBKT  &kp BSLH  &kp TILDE  
   &tog ADJUST &kp BSPC  &kp LWIN                                   &kp LALT  &kp SPACE &mo RAISE
                        >;
                };

                adjust_layer {
                        label = "ADJUST";
                        bindings = <
   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6       &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12  
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &none        &none     &kp HOME  &kp PG_UP &kp PSCRN &none     &none  
   &none     &none     &none     &none     &none     &none        &none     &kp END   &kp PG_DN &none     &none     &none  
   &tog ADJUST &kp BSPC  &kp LWIN                                   &kp LALT  &kp SPACE &tog ADJUST
                        >;
                };			
        };
};
